<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="ISO-8859-1">
<title>Sequence Number</title>
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
	<div align="center">
		<h1>Set Sequence Number in database</h1>
		<div class=".container">
			<form class="form-horizontal" action="#" th:action="@{/setseqno}"
				method="post" th:object="${sequenceNo}">
				<div class="form-group">
					<label for="seqnumber">Sequence Number:</label> <input type="text"
						class="form-control" id="seqnumber" placeholder="Enter Sequence Sequence"
						name="seqnumber" th:field="*{seqNo}">
				</div>
			
			
			
				<button type="submit" class="btn btn-primary">Set Value</button>
			</form>
		</div>
	</div>
</body>
</html>